@model IEnumerable<BurnDown.Models.vTask>

@{
    ViewBag.Title = "Index";
}

<h2>All Tasks</h2>

<p>
    @Html.ActionLink("Create New Task", "Create")
</p>
<table>
    <tr>
       
        <th>
            Task Name
        </th>
        <th>
            Project Name
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
             @Html.ActionLink(item.projectName, "Details", new {controller = "Projects", id = item.project })
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.taskId }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
